html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Center-aligning container----------------------------------------*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*Link styling----------------------------------------*/

a {
    color: black;
    text-decoration-color: #110041;
    transition: 0.3s;
}

/*Header elements----------------------------------------*/

/*Navigation menu*/

.nav {
    margin: 30px 0;
}

.nav-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

.nav-link {
    display: block;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #110041;
    color: #ffffff;
    box-shadow: 0 2px 0 0 #e4f614;
}

/*Main elements----------------------------------------*/

.main-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section {
    box-sizing: border-box;
    width: 50%;
    padding: 20px 30px;
}

.div-section {
    width: 100%;
}

/*Avatar image*/

#avatar img {
    width: 100%;
}

/*h-elements*/

h1 {
    font-size: 2em;
}

.h1-text,
.h2-text {
    position: relative;
    padding: 5px 10px;
    background-color: #d3fdef;
    color: #110041;
}

.h1-text {
    box-shadow: 10px 10px 0 0 #e4f614;
}

.h2-text {
    transition: 0.3s;
}


/*.h1-text::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 20px;
    width: 100%;
    height: 20px;
    background-color: #e4f614;
    z-index: -1;
}*/


.section:hover .h2-text,
.section:active .h2-text {
    background-color: #110041;
    color: #ffffff;
    box-shadow: 4px 4px 0 0 #e4f614;
}

/*Lists and list-elements*/

.contacts-list,
.language-list,
.education-list,
.courses-list {
    list-style: none;
    padding-left: 0;
}

.contacts-item,
.language-item,
.education-item,
.courses-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
}

.progects-item {
    margin-top: 10px;
}

.project-description {
    margin: 10px 0 0 0;
    padding-left: 10px;
    border-left: 5px solid #d3fdef;
}

.contacts-item::before,
.language-item::before,
.education-item::before,
.courses-item::before {
    position: absolute;
    content: ">";
    left: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    background-color: #e4f614;
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 black;
    transition: 0.3s;
}

.courses-item::before {
    content: "≥";
}

.contacts-item:hover a,
.contacts-item:hover::before,
.language-item:hover::before,
.progects-item:hover a,
.education-item:first-child:hover::before,
.courses-item:hover a,
.courses-item:hover::before {
    background-color: #110041;
    color: #ffffff;
    box-shadow: 2px 2px 0 0 #e4f614;
}

.skills-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

.skills-item {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;
}

.skills-item:hover {
    box-shadow: 2px 2px 0 0 #e4f614;
    background-color: #110041;
    color: #ffffff;
}

/*Code example section*/

.code-container {
    padding: 0 15px;
    background-color: #f7f8fa;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/*Footer elements----------------------------------------*/

footer {
    background-color: #110041;
    margin-top: 20px;
}

.footer-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 20px 20px;
}


.footer-img,
.footer-year {
    height: 50px;
    margin: 10px;
}

.footer-img {
    transition: 0.3s;
}

.footer-img:hover {
    transform: scale(1.1);
}

.footer-year {
    vertical-align: middle;
    color: #ffffff;
}

/*Adaptive----------------------------------------*/

@media (max-width: 768px) {
    .section {
      width: 100%;
      padding: 15px 30px;
    }
}

@media (max-width: 480px) {  

    .section {
        padding: 10px 30px;
    }

    .nav-list {
        justify-content: space-evenly;
    }

    .footer-features {
        justify-content: center;
    }

    .footer-img,
    .footer-year {
        height: 33px;
    }
}